<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WorkspacePath</key>
	<string>/Users/jake/Downloads/of_v0.9.7_osx_release/apps/myApps/shortTest/shortTest.xcodeproj</string>
</dict>
</plist>
